streamlit==1.48.1
opencv-python-headless==4.10.0.84
transformers==4.43.3
onnxruntime-genai==0.4.0
fer==22.5.1
SpeechRecognition==3.14.3
Pillow==10.2.0
psutil==7.0.0
colorthief==0.2.1
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
accelerate==1.8.1
huggingface-hub==0.33.4
safetensors==0.5.3
